VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=edubridge-events.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=edubridge-events
VITE_FIREBASE_STORAGE_BUCKET=edubridge-events.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=21831701849
VITE_FIREBASE_APP_ID=1:21831701849:web:d8d7a58dc1a9c2579c6848
